.logo-handler {
	width: 100px;
	height: 100px;
	padding: 25px;
	border-radius: 50%;
	background-color: var(--cranberry-dark-transparent);
	border: 3px solid var(--cream-dark);
	position: absolute;
	box-shadow: 2px 2px 10px 1px #000;
	animation: myAnim 0.5s ease-in-out 0.5s 1 normal both;
	z-index: 2;
}

.logo-handler img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.html-handler {
	top: 40px;
	left: 150px;
}

.css-handler {
	bottom: 150px;
	right: 50px;
}

.git-handler {
	bottom: 150px;
	left: 50px;
}

.js-handler {
	bottom: 50px;
	left: 150px;
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateY(250px) rotate(200deg);
	}

	100% {
		opacity: 1;
		transform: translateY(0) rotate(0deg);
	}
}
