/*@media (max-width: 1367px) {
	#panel-display-button {
		display: none;
	}

	#panel-display {
		display: none;
	}
}*/

@media (max-width: 768px) {
	.header-container {
		justify-content: center;
		row-gap: 15px;
	}

	.header-container .container {
		width: 100%;
	}
}

@media (max-width: 381px) {
	.main-menu {
		display: flex;
	}

	h5 {
		font-size: 3rem;
	}

	.nav-container {
		display: none;
	}
}
