/* **Profile  */

.profile-container {
	width: 60vw;
	height: auto;
	border: 2px ridge var(--cream-dark);
	flex-wrap: wrap;
	padding: 15px 0;
	border-radius: 8px;
	box-shadow: -2px -2px 15px 2px var(--cream-dark);
	position: relative;
	justify-content: space-around;
	display: flex;
}

.portfolio-image-container,
.portfolio-title-container {
	height: 400px;
	width: 340px;
	flex-direction: column;
}

.portfolio-image-container {
	row-gap: 15px;
}

.portfolio-image-container img {
	height: 70%;
	width: 80%;
	object-fit: cover;
	border-radius: 50%;
	box-shadow: 3px 3px 15px 3px var(--cream-dark);
}

.portfolio-title-container {
	color: var(--cream-dark);
	line-height: 1;
	/*font-family: 'BIENUG Trial', sans-serif;*/
	letter-spacing: 2;
	text-shadow: 5px 5px 5px black;
	justify-content: center;
}

#ProfileImage {
	display: flex;
}

.main-title-wrapper {
	flex-direction: column;
	box-sizing: content-box;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -100px;
}

.main-title-container-inactive {
	display: none;
}

.about-title-wrapper {
	display: none;
	height: 340px;
	width: 320px;
	font-size: 10px;
	/*overflow: hidden;*/
	font-size: 1em;
	text-align: center;
	color: var(--gold);
}

#about-text {
	color: var(--cream-dark);
}

.about-title-wrapper-active {
	display: flex;
}

.portfolio-title-container h4 {
	font-size: 30px;
	width: 100%;
	margin-bottom: 20px;
}
.social-container {
	width: 280px;
	height: fit-content;
	place-content: center;
	place-items: center;
	font-size: 30px;
	justify-content: space-evenly;
	margin-top: 20px;
	position: relative;
	padding: 15px 0;
	margin-bottom: -80px;
}

.social-container .social-icons {
	color: var(--cream-dark);
}

.social-container .social-icons-active {
	font-size: 35px;
	text-shadow: 2px 2px 2px var(--blue-dark);
	color: var(--turquoise);
}

.social-icons:hover,
.social-icons-active:hover {
	transform: scale(1.2);
}

.snapCode {
	width: 90vw;
	height: 100vh;
	background-color: var(--cranberry-dark-transparent);
	outline: var(--ol);
	z-index: 99;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	cursor: pointer;
}
.snapCode img {
	width: 80%;
	height: 80%;
	object-fit: contain;
}

.snapCode-close {
	color: var(--cream-dark);
	font-size: 30px;
	position: absolute;
	top: 20px;
	right: 40px;
	z-index: 100;
}
